* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.bumper {
    width: 100%;
    height: 1800px;
    background-color: #f3f3f3;
}

.horizontal-section,
.horizontal-section2 {
    padding: 100px 0;
    background-color: black;
}

.sticky-wrapper,
.sticky-wrapper2 {
    position: sticky;
    top: 100px;
    width: 100%;
    overflow: hidden;
}

.element-wrapper,
.element-wrapper2 {
    position: relative;
    display: flex;
}

.element {
    width: 100vw;
    margin: 0 20px 0 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.selectedHeading {
    text-decoration: underline;
    color: #4ec0fb;
}

.headingsDiv {
    display: flex;
    gap: 10px;
    font-size: 21px;
    justify-content: center;
}

.headingChallenges {
    color: #fff;
    font-weight: 700;
}

.headings {
    display: flex;
    gap: 10px;

}

.headingSmall {
    cursor: pointer;
    color: grey;
    text-decoration: none;
}

.headingSmall:hover {
    cursor: pointer;
    color: #4ec0fb;
    text-decoration: underline;
}

.outer {
    display: flex;
    align-items: center;
    width: 75%;
    gap: 5px;
}

.innerLeft {}

.innerHeading {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

.innerP {
    font-size: 25px;
    color: #fff;
}

.innerRight {}

.innerRight img {
    border-radius: 30px;
    width: 420px;
}

@media only screen and (max-width:786px) {
    .element {}

    .selectedHeading {}

    .headingsDiv {
        flex-direction: column;
        align-items: center;
    }

    .headingChallenges {}

    .headings {
        flex-direction: column;
        gap: 0;

    }

    .headingSmall {
        margin: 0;
    }

    .headingSmall:hover {}

    .outer {
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
    }

    .innerLeft {}

    .innerHeading {
        font-size: 40px;
    }

    .innerP {
        font-size: 16px;
    }

    .innerRight {}

    .innerRight img {
        width: 300px;
    }
}