* {
  scroll-behavior: smooth;
}

.Landing1 {

  background-image: url("BigBg.png");
  background-repeat: no-repeat;
  background-size: cover;

  background-color: #032f50;
  height: 100vh;


}


.Landing2 {


  width: 100%;

  display: flex;


  align-items: center;
  height: 100vh;
}


.BigText3 {

  font-size: 60px;
  color: white;
  text-align: center;
  margin-top: 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;
  margin-right: auto;
}



.Landing3 {


  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  background-color: white;
  color: black;

  height: 100vh;
}


.BigText4 {

  font-size: 60px;
  color: black;
  width: 65%;
  text-align: center;
  margin: auto;
}





.Landing4 {

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("marine1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #032f50;
  height: 100vh;
}


.visitOurGithub {
  text-decoration: none;
  color: #017ec6;
  background: white;
  padding: 5px 9px;
  border-radius: 16px;
  position: relative;
  top: 10px;
}

.discordButton {
  color: #4ec0fb;
  text-decoration: none;
}

.L9_Btn:hover .discordButton {
  color: #fff;
  text-decoration: none;
}

/* .Landing4:hover{

  box-shadow: rgba(0, 0, 0, 0.56) 300px 300px 1000px 500px;
} */



.BigText5 {

  font-size: 70px;
  color: white;
  text-align: center;
  width: 65%;
  margin: auto;
}



.BigText6 {

  font-size: 35px;
  color: white;
  text-align: center;
  width: 80%;
  margin: 35px auto;

}







.BigText {

  font-size: 75px;
  color: #4ec0fb;
  text-align: center;
  margin-top: 103px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(145deg, #62f58a, #2352dc);
}


.BigText2 {

  font-size: 38px;
  color: white;
  text-align: center;
  margin-top: 0px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.teamHeading {
  text-align: center;
  margin: 20px auto;
  font-size: 30px;
}


.BtnDiv {


  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}



.Btn3 {

  border: 1px solid #fddf16;
  border-radius: 30px;
  color: #fddf16;

  background-color: transparent;
  font-size: 19px;
  padding: 12px;
  min-width: 117px;
  margin: 10px;


}

.Btn3:hover {

  background-color: #fddf16;
  color: white;

}


/* Section 5 */


.Landing5 {


  padding-top: 90px;
  padding-bottom: 70px;


}


.scrolll {

  display: flex;
  overflow-x: auto;
  /*overflow: hidden;*/
  overflow: hidden;
}

.Parts {

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 50px 0px 50px;

}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4ec0fb;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4ec0fb;
}









.Sec5_Img {

  width: 420px;
  border-radius: 30px;
}



.BigText7 {

  font-size: 80px;
  color: white;
  text-align: left;
  margin-top: 0px;
  width: 80%;

  margin-top: 35px;
  margin-bottom: 35px;
  font-weight: 700;

}


.BigText8 {

  font-size: 25px;
  color: white;
  text-align: left;
  margin-top: 0px;
  width: 550px;

  margin-top: 35px;
  margin-bottom: 35px;
}


.s5_nav {

  display: flex;
  justify-self: start;
  align-items: center;
  gap: 30px;

  padding: 20px;
  margin-left: 60px;
  font-size: 18px;
}


.part_Links {

  text-decoration: none;
  color: grey;
}

.part_Links:hover {


  color: #4ec0fb;
}

/* /////////// */






/* Lending 6*/



.Landing6 {


  width: 100%;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(#032f50, #4ec0fb);


  padding-top: 200px;
  padding-bottom: 200px;
}


.BigText9 {

  font-size: 26px;
  font-weight: 500;
  color: white;
  text-align: center;
  margin-top: 0px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 35px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}


.ScrollText {

  font-size: 80px;
  font-weight: 900;

  color: #4ec0fb;

  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #4ec0fb,
    0 0 82px #4ec0fb,
    0 0 92px #4ec0fb,
    0 0 102px #4ec0fb,
    0 0 151px #4ec0fb;

}





/* /////////// */








/* Lending7 */



.Landing7 {


  width: 100%;

  margin-left: auto;
  margin-right: auto;

  background-color: white;


  padding-top: 200px;
  padding-bottom: 200px;
}


.joinDiv {

  background-color: black;

}








/* /////////// */






/* Lending8 */


.Landing8 {

  width: 100%;
  margin-right: auto;
  margin-left: auto;

  background-image: url("backgroundFirst.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #4ec0fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;


}



.L8_block_container {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 53px;

  padding: 50px;
  flex-wrap: wrap;

}



.L8_block {

  flex-grow: 1;
  width: 200px;
  height: 570px;
  border-radius: 30px;

  background-color: #032f50;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  display: flex;
  justify-content: left;
  align-items: center;
  width: 290px;

}


#L8_Block_1 {


  background-image: url("s10_p1.png");
  background-repeat: no-repeat;
  background-size: cover;

}

#L8_Block_2 {


  background-image: url("s10_p2.png");
  background-repeat: no-repeat;
  background-size: cover;

}


#L8_Block_3 {


  background-image: url("s10_p3.png");
  background-repeat: no-repeat;
  background-size: cover;

}



.L8_block_new {
  border-radius: 30px;
  height: 500px;
  background-color: #032f50;
  box-shadow: rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
  display: flex;
  justify-content: center;
  width: 300px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.fadeBlack {
  position: absolute;
  width: 100%;
  background-color: black;
  height: 100%;
  border-radius: 30px;
  opacity: 0;
}

.L8_block_new:hover .fadeBlack {
  animation-name: fadeBlack;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.L8_block_new:hover .L8_text_anchor {
  animation-name: anchorText;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.L8_block_new:hover .animate-text {
  opacity: 0;
  animation-name: textAnim;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
}

.animate-text {
  color: white;
  opacity: 0;
  padding: 0 10px;
  font-weight: 700;
}

@keyframes fadeBlack {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

@keyframes anchorText {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-70px);
  }
}

@keyframes textAnim {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(80px);
  }
}

.L8_text_anchor {
  font-size: 42px;
  text-decoration: none;
  font-weight: 500;
  line-height: 50px;
  color: white;
}



.L8_text {


  width: 50%;
  font-size: 55px;
  text-decoration: none;
  font-weight: 500;
  line-height: 80px;
  color: white;


}




.BigText10 {

  font-size: 60px;
  font-weight: 500;
  width: 70%;
  color: #032f50;
  text-align: center;
  margin: 0 auto;
}




/* /////////// */












/* Lending9 */


.Landing9 {

  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}




.L9_inner {

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 50px;

  flex-wrap: wrap;
}


.TeamPic {

  width: 630px;
  border-radius: 30px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.TeamPic:hover {

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}




.L9_Btn {

  border: 1px solid #4ec0fb;
  border-radius: 30px;
  color: #4ec0fb;

  background-color: transparent;
  font-size: 19px;
  padding: 12px;
  min-width: 117px;
  margin: 10px;

  cursor: pointer;


}

.L9_Btn:hover {

  background-color: #4ec0fb;
  color: white;

}

/* /////////// */








/* Lending 10 */



.Landing10 {

  color: black;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
  padding-top: 60px;
  padding-bottom: 60px;
}



.L10_links {

  color: #4ec0fb;

}

.L10_links:hover {

  color: black;

}

.NewsPic {

  width: 350px;
  margin-bottom: 26px;

}



.L10_inner_inner {

  margin-top: 68px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 40px;

  gap: 20px;

  flex-wrap: wrap;
}





/* /////////// */







/* Lending 11 */



.Landing11 {

  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}




.L_11_container {

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 30px;

}



.L11_Ladder {


  width: 300px;
  height: 500px;
  background-color: #4ec0fb;
}


.L11_text {

  padding: 10px;
  width: 65%;
}


/* /////////// */



.smallest_text {

  font-size: 21px;
}













.Team_member_box {

  width: 200px;
  height: 250px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}


.T_name {
  width: max-content;
  font-weight: 600;
  color: black;
  padding: 3px;
  font-size: 20px;
}

.T_title {

  padding: 3px;
}


.T_profile {

  width: 150px;
  height: 150px;

  margin-left: auto;
  margin-right: auto;

  border-radius: 50%;

  background-color: #032f50;

  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}



.T_row {
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.T_row {
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-evenly;
}


@media only screen and (max-width:1100px) {
  .T_row {
    grid-template-columns: auto auto auto;
    justify-content: space-around;
  }
}

@media only screen and (max-width:700px) {
  .T_row {
    grid-template-columns: auto auto;
    justify-content: space-around;
  }
}

@media only screen and (max-width:500px) {
  .T_row {
    grid-template-columns: auto;
    justify-content: space-around;
  }
}
























/* MOBILE RESPONSIVE!!*/

.Landing92{
  background: #fff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */

  .Landing1 {
    height: 100vh;
  }


  .BigText {

    font-size: 33px;
  }


  .BigText2 {

    font-size: 20px;
  }

  .L10_inner_inner {
    justify-content: center;
    align-items: center;
  }

  .L10_block {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .BigText3 {


    font-size: 20px;
  }


  .smallest_text {

    font-size: 15px;
  }


  .part_Links {

    font-size: 15px;
  }


  .BigText7 {

    font-size: 33px;
    padding: 0px;
    margin: 0px;
  }

  .BigText8 {

    font-size: 15px;
    width: 100%;
  }


  .Parts {

    padding: 0px;

    margin: 0px;

    display: block;
  }

  .Sec5_Img {

    width: 200px;

  }


  .part_div5_1 {

    padding: 0px 0px 0px 0px;
    margin: 0px;

  }


  .part_div5_2 {

    padding: 0px 0px 0px 0px;

  }


  .scrolll {

    margin: 0px;
    padding: 0px;
  }


  .s5_nav {

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 7px;

    flex-wrap: wrap;
    margin: auto;

  }




  .BigText4 {

    font-size: 33px;
  }


  .BigText5 {

    font-size: 33px;
  }

  .BigText6 {

    font-size: 20px;

  }






  .BigText10 {
    font-size: 33px;
    text-align: center;
    margin: auto;
    font-size: 33px;
  }


  .L8_text_prime {

    position: relative;
    bottom: 110px;

  }

  .L8_text {


    width: 50%;
    font-size: 15px;
    line-height: 20px;

  }




  .L8_block_container {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;

    padding: 30px;

  }



  .L8_block {

    width: 100px;
    height: 270px;


  }




  .L9_inner {

    display: block;

    padding: 50px;

    margin: auto;

  }



  .L9_div_text {

    font-size: 33px;
    margin-bottom: 30px;

  }


  .L9_div_2 {

    font-size: 20px;
    margin-bottom: 30px;

  }


  .TeamPic {

    width: 300px;
  }








  .NewsPic {

    width: 250px;

  }


  .L10_inner_inner {

    margin-top: 0px;
    display: block;
    padding: 40px;

    margin-left: auto;
    margin-right: auto;

  }




  .L10_links {

    font-size: 20px;

  }


  .L9_links {

    font-size: 50px;

  }

  .L9_links_2 {

    font-size: 20px;

  }



  .L9_div_text {

    width: 100%;

  }

  .L9_div_2 {

    width: 100%;

  }



  .L10_h {

    font-size: 50px;
  }




  .Team_All {

    padding: 25px;
  }



  .Team_member_box {

    width: 150px;
    height: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    font-size: 12px;
  }



  .T_profile {

    width: 90px;
    height: 90px;

  }




}


@media only screen and (max-width:700px) {

  .TeamPic {
    width: 300px;
  }


}

@media only screen and (max-width:400px) {

  .TeamPic {
    width: 100%;
  }


}

.L10_block {
  max-width: 465px;
}

/*EXTRASSSSS   */




.part_div5_1 {

  padding: 0px 100px 0px 27px;
}


.part_div5_2 {

  padding: 0px 100px 0px 35px;
}





.L8_text_prime {

  /* margin-top: 210px; */

  padding: 22px;

}



.L9_div_text {

  font-size: 80px;
  font-weight: 600;
  margin-bottom: 30px;

}

.L9_div_2 {

  font-size: 27px;
  font-weight: 500;
  margin-bottom: 30px;

}




.L_10_text_1 {

  font-size: 27px;
  font-weight: 600;
  margin-bottom: 30px;
  width: 90%;

}




.L9_links {

  color: black;
  text-decoration: none;

}

.L9_links_2 {
  color: black;
  text-decoration: none;
  text-align: center;
  margin: auto;
  color: black;
  text-decoration: none;

}

.BtnCursor {
  cursor: pointer;
}

.newsHeading {
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
  margin: auto;
}

.joinHeading {
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 30px;
}


@media only screen and (max-width:500px) {
  .newsHeading {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
  }

  .joinHeading {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
  }

}

.discordOuter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



*/